services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - job-service

  auth-service:
    build: ./auth-service
    ports:
      - "8001:8001"

  job-service:
    build: ./job-service
    ports:
      - "8003:8003"
